<a href="https://colab.research.google.com/github/DeanImoke/Dean_DTSC3020_Fall2025/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
fruits = ["apple" , "banana" , "orange"]
print(fruits)
print(fruits[0])
print(fruits[1])
print(fruits[2])

['apple', 'banana', 'orange']
apple
banana
orange

In [12]:
names = ["Dean" , "Alex" , "Sarah" , "Julia"]
names[0] = "Lucy"
print(names)

['Lucy', 'Alex', 'Sarah', 'Julia']

In [13]:
 vehicles = ["car", "truck" , "bus" , "motorcycle" , "boat"]
 vehicles.append("airplane")
 print(vehicles)

['car', 'truck', 'bus', 'motorcycle', 'boat', 'airplane']

In [15]:
foods = ["burger", "sandwich", "steak", "pasta", "pizza", "sushi"]
foods.remove("sushi")
print(foods)

['burger', 'sandwich', 'steak', 'pasta', 'pizza']

In [17]:
cities = ["Dallas", "Baltimore", "Miami", "New York"]
cities.sort()
print(cities)
cities.sort(reverse=True)
print(cities)

['Baltimore', 'Dallas', 'Miami', 'New York']
['New York', 'Miami', 'Dallas', 'Baltimore']

In [20]:
animals = ["dog", "cat", "shark"]
for animal in animals:
    print(animal)

dog
cat
shark

In [23]:
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    print(number * 2)

2
4
6
8
10

In [25]:
friends = ["Jane", "Lucy", "Dean", "Alex", "Sam", "Sofia"]
print(friends[0:3])
print(friends[3:])

['Jane', 'Lucy', 'Dean']
['Alex', 'Sam', 'Sofia']

In [29]:
number = list(range(1, 11))
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
square = [value**2 for value in range(1, 6)]
print(square)

[1, 4, 9, 16, 25]